<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>--> 
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper class="mt-4" style="border-radius: 25px ">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos del postulante</ng-template>

      <mat-card class="example-card mt-4">
        <mat-card-title>Datos del postulante</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Nombre del postulante</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="name" required >
          </mat-form-field>
          
        </mat-card-content>
      </mat-card>

     
      <div class="center mt-3">
        <button mat-button matStepperNext color="primary">Siguiente <mat-icon>arrow_forward</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="demoForm">
    <form [formGroup]="demoForm" class="center mt-4">
      <ng-template matStepLabel>Carga de documentos</ng-template>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
            <div class="form-group">
              <input type="file" 
              style="display: none;"
              #fileUpload
              class="custom-file-input form-control" 
              id="files" multiple (change)="detectFiles($event)" 
              accept="application/pdf">

              <div class="file-upload" class="mb-5">
          
                {{"Subir documentos"}}
             
                 <button mat-mini-fab color="primary" class="upload-btn"
                   (click)="fileUpload.click()">
                     <mat-icon>attach_file</mat-icon>
                 </button>

                 
             </div>

              <p-table [value]="fotos.value" >
                  <ng-template pTemplate="header">
                      <tr>
                          
                          <th>Archivo</th>
                          <th>Tamaño</th>
                          <th>Tipo</th>
                          <th>Acciones</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-photo let-rowIndex="rowIndex" >
                      <tr>
                          <td> <img width="15px" src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" class="card-img-top" alt="Image Preview">   {{  photo.file.name }}</td>
                          <td> {{  photo.file.size | filesize  }} </td>
                          <td>
                            <mat-form-field appearance="fill">
                              <mat-label>Seleccione tipo de documento</mat-label>
                              <mat-select (selectionChange)="selectType($event.value, photo, rowIndex)">
                                <mat-option *ngFor="let docu of documentos" [value]="docu.value">
                                  {{docu.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            
                           
                            
                          </td>
                          <td>
                           

                            <button mat-mini-fab  color="warn" class="mb-3" (click)="removePhoto(rowIndex)" aria-label="Example icon button with a delete icon">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
              
            </div>

           <!--  <div class="images-preview mt-2" *ngIf="photos.length">
              <div class="row">
                <div class="col-md-6 col-lg-3	 col-xl-2" formArrayName="photos" *ngFor="let photo of photos.controls; let i = index;">
                  <div class="card mb-3" [formGroupName]="i">
          
                  <button type="button" (click)="removePhoto(i)" class="btn btn-danger remove-btn">x</button> 
                    <button mat-mini-fab color="primary" class="btn-material"
                    (click)="removePhoto(i)">
                     <mat-icon>close</mat-icon>
                 </button>
                    <pre>{{photo.controls.file.value.name}}</pre>
                   <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" class="card-img-top" alt="Image Preview"> 
                 <img [src]="photo.controls.url.value" class="card-img-top" alt="Image Preview">
                  </div>
                </div>
              </div>
            </div> --> 

          </div>
        </div>
      </div>
      <div class="row">
        <button mat-button  matStepperPrevious color="primary" > <mat-icon>arrow_back</mat-icon> Volver</button>
        <button [disabled]="demoForm.controls['photos'].length == 0" mat-button matStepperNext color="primary" >Siguiente <mat-icon>arrow_forward</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Confirmar</p>
    <div class="center">
      <button mat-button matStepperPrevious class="primary"> <mat-icon>arrow_back</mat-icon>  Volver</button>
    <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->  
    <button mat-button (click)="onFinish()" color="success">Enviar <mat-icon>done</mat-icon>  </button>

    </div>
  </mat-step>
</mat-stepper>

