<div class="container">

    <div class="mt-5">
        <mat-card>

            <mat-card-title>
                <div class="container">
                    <div class="row">
                        <div class="col s10">
                            Listado de solicitudes
                        </div>
                       <!-- <div class="col s2">
                            <button mat-raised-button color="primary">New</button>
                        </div>-->
                    </div>
                </div>


            </mat-card-title>
            <mat-card-actions>

            </mat-card-actions>
            <mat-card-content>

                <table style="width:100% ;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <!-- <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container> -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.names}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="surnames">
                        <th mat-header-cell *matHeaderCellDef> Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.surnames}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Correo </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="aproveUser(element)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="green-text">check</mat-icon>
                            </button>     
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                  

            </mat-card-content>

        </mat-card>
        <br>

    </div>

</div>