
<xng-breadcrumb separator=">>" class="mt-2" style="color: #fff !important ;" >
    <ng-container *xngBreadcrumbItem="let breadcrumb">
      <ng-container >{{ breadcrumb | titlecase }}</ng-container>
    </ng-container>
  </xng-breadcrumb>