<div >
    <mat-dialog-content>
        Solicitud de registro enviada con éxito, se notificará a su dirección de correo cuando su cuenta esté habilitada
       </mat-dialog-content>
       <mat-dialog-actions align="center" >
         <button mat-dialog-close mat-raised-button color="primary" >Aceptar</button>
       </mat-dialog-actions>
</div>

