<div class="container">

    <div class="mt-5">
        <mat-card>

            <mat-card-title>
                <div class="container">
                    <div class="row">
                        <div class="col s10">
                            Listado de solicitudes
                        </div>
                        <div class="col s2">
                            <button mat-raised-button color="primary">New</button>
                        </div>
                    </div>
                </div>


            </mat-card-title>
            <mat-card-actions>

            </mat-card-actions>
            <mat-card-content>ADMIN</mat-card-content>

            <mat-card-subtitle>Start</mat-card-subtitle>


        </mat-card>
        <br>

    </div>

</div>